# SSII - Práctica Final: Recomendador de películas con MovieLens

## Grupo 1: Ignacio Gil, Álvaro Farreny y Carlos González

In [12]:
""" 
pip install pandas
pip install numpy
python -m pip install -U matplotlib
pip install seaborn
python -m pip install requests
pip install -U scikit-learn   
pip install beautifulsoup4
"""

import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline
import seaborn as sns
import requests as rq
import time
import math
import datetime

from sklearn.metrics import confusion_matrix
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.neighbors import NearestNeighbors
import sklearn

from bs4 import BeautifulSoup as bs

In [13]:
# Leemos nuestros dataframes
movies = pd.read_csv("./ml-latest-small/movies.csv", sep=",")
ratings = pd.read_csv("./ml-latest-small/ratings.csv", sep=",")
tags = pd.read_csv("./ml-latest-small/tags.csv", sep=",")
links = pd.read_csv("./ml-latest-small/links.csv", sep=",")

# Eliminamos nulos
movies.dropna(inplace=True)
ratings.dropna(inplace=True)
tags.dropna(inplace=True)
links.dropna(inplace=True)

In [14]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [15]:
# No queremos trabajar con timestamp
ratings = ratings.drop('timestamp', 1)

C:\Users\Carlow\AppData\Local\Temp\ipykernel_22828\3621667347.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  ratings = ratings.drop('timestamp', 1)

In [16]:
ratings.groupby(["rating"])["userId"].count()

rating
0.5     1370
1.0     2811
1.5     1791
2.0     7551
2.5     5550
3.0    20047
3.5    13136
4.0    26818
4.5     8551
5.0    13211
Name: userId, dtype: int64

In [17]:
idEspecifico = 1
nuestroUser = ratings.loc[ratings['userId'] == idEspecifico]
nuestroUser

     userId  movieId  rating
0         1        1     4.0
1         1        3     4.0
2         1        6     4.0
3         1       47     5.0
4         1       50     5.0
..      ...      ...     ...
227       1     3744     4.0
228       1     3793     5.0
229       1     3809     4.0
230       1     4006     4.0
231       1     5060     5.0

[232 rows x 3 columns]

In [18]:
df_matrix = pd.pivot_table(ratings, values='rating', index='userId', columns='movieId').fillna(0)
df_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
dfs = np.array_split(df_matrix, 4)
df1 = pd.DataFrame(dfs[0])
df2 = pd.DataFrame(dfs[1])
df3 = pd.DataFrame(dfs[2])
df4 = pd.DataFrame(dfs[3])
del df_matrix, dfs

sim_matrix1 = 1 - sklearn.metrics.pairwise.cosine_distances(df1)
np.savetxt("./ml-latest-small/sim_matrix1.csv", sim_matrix1, delimiter=",")
del sim_matrix1
sim_matrix2 = 1 - sklearn.metrics.pairwise.cosine_distances(df2)
np.savetxt("./ml-latest-small/sim_matrix2.csv", sim_matrix2, delimiter=",")
del sim_matrix2
sim_matrix3 = 1 - sklearn.metrics.pairwise.cosine_distances(df3)
np.savetxt("./ml-latest-small/sim_matrix3.csv", sim_matrix3, delimiter=",")
del sim_matrix3
sim_matrix4 = 1 - sklearn.metrics.pairwise.cosine_distances(df4)
np.savetxt("./ml-latest-small/sim_matrix4.csv", sim_matrix4, delimiter=",")
del sim_matrix4

NameError: name 'df_matrix' is not defined

In [ ]:
plt.imshow(sim_matrix);
plt.colorbar()
plt.show()

In [19]:
df_matrix.to_csv("usuarios-ratings.csv")

In [20]:
usuarios_ratings = pd.read_csv("./ml-latest-small/usuarios-ratings.csv", sep=",")

In [21]:
usuarios_ratings

,userId,1,2,3,4,5,6,7,8,9,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
0,1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
606,607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
from surprise import Dataset, SVD, KNNBasic
from surprise.model_selection import cross_validate

data = Dataset.load_builtin("ml-100k")
algo = KNNBasic()

# Run 5-fold cross-validation and print results
cross_validate(algo, data, measures=["RMSE", "MAE"], cv=5, verbose=True)

Dataset ml-100k could not be found. Do you want to download it? [Y/n] Trying to download dataset from https://files.grouplens.org/datasets/movielens/ml-100k.zip...
Done! Dataset ml-100k has been saved to C:\Users\Nacho/.surprise_data/ml-100k
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9890  0.9753  0.9758  0.9752  0.9777  0.9786  0.0053
MAE (testset)     0.7805  0.7705  0.7693  0.7703  0.7727  0.7727  0.0041
Fit time          0.46    0.47    0.45    0.47    0.46    0.46    0.00
Test time         2.49    2.41    2.55    2.43    2.51    2.48    0.05

{'test_rmse': array([0.98895547, 0.97526228, 0.97581236, 0.97519799, 0.97769683]),
 'test_mae': array([0.78050905, 0.77045539, 0.76931878, 0.77030529, 0.77274064]),
 'fit_time': (0.4615342617034912,
  0.4661874771118164,
  0.4539945125579834,
  0.4655020236968994,
  0.4586300849914551),
 'test_time': (2.4869935512542725,
  2.414885997772217,
  2.5460169315338135,
  2.4314823150634766,
  2.5059852600097656)}

In [30]:
uid = str(196)  # raw user id (as in the ratings file). They are **strings**!
iid = str(302)  # raw item id (as in the ratings file). They are **strings**!

# get a prediction for specific users and items.
pred = algo.predict(uid, iid, r_ui=4, verbose=True)

user: 196        item: 302        r_ui = 4.00   est = 4.02   {'actual_k': 40, 'was_impossible': False}